.testemonial-items .row {
  background-color: rgba(255,255,255,0.8);
  padding: 20px;
  margin-bottom: 50px;
  border-radius: 5px;
  text-align: left
}

.testemonial-items .row small{
  float: right;
  color:black;
}

#contact-form input {
  padding-bottom: 0px;
}

.contact-name {
  width: 200px;
  text-align: right;
}

.contact-info a {
  color: #ddd;
}
