body {
  width: 100%;
  height: 100%;
  font-family: 'Fira Sans', sans-serif;
  color: #000;
  background-color: #fff;
  overflow-x: hidden;
  webkit-tap-highlight-color: rgba(255, 255, 255, 0.2);
}
html {
  width: 100%;
  height: 100%;
}
h1,
h2 {
  margin: 0 0 35px;
  text-transform: uppercase;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 700;
  letter-spacing: 1px;
}
h3,
h4,
h5,
h6 {
  margin: 0 0 15px;
  text-transform: uppercase;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 700;
  letter-spacing: 1px;
}
p {
  margin: 0 0 20px;
  font-size: 16px;
  line-height: 1.25;
  color: #333;
}
a {
  color: #219ab3;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}
a:hover,
a:focus {
  text-decoration: none;
  color: #11505d;
}
.container {
  width: 100%;
}
.light {
  font-weight: 400;
}
.margin-top-bottom-20 {
  margin-top: 20px;
  margin-bottom: 20px;
}
.form-required-text {
  font-size: 1.2em;
  color: #8f142d;
  float: right;
}
.navbar-custom {
  margin-bottom: 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  text-transform: uppercase;
  font-family: 'Fira Sans', sans-serif;
  background-color: #333333;
}
.navbar-custom a {
  color: #fff;
}
.navbar-custom .navbar-brand {
  font-weight: 700;
}
.navbar-custom .navbar-brand:focus {
  outline: 0;
}
.navbar-custom .navbar-toggle {
  padding: 4px 6px;
  font-size: 16px;
  color: #fff;
}
.navbar-custom .navbar-toggle:focus,
.navbar-custom .navbar-toggle:active {
  outline: 0;
}
.navbar-custom .nav li a {
  -webkit-transition: background .3s ease-in-out;
  -moz-transition: background .3s ease-in-out;
  transition: background .3s ease-in-out;
  font-size: 14px;
  padding: 15px 10px;
}
.navbar-custom .nav li a:hover,
.navbar-custom .nav li a:focus,
.navbar-custom .nav li a.active {
  outline: 0;
  background-color: rgba(255, 255, 255, 0.3);
}
.navbar-custom .nav li .active {
  outline: none;
  background-color: rgba(255, 255, 255, 0.3);
}

.intro {
  background: url(../images/RPside.jpg) no-repeat bottom center fixed;
  background-size: cover !important;
  display: table;
  width: 100%;
  height: 100%;
  padding: 100px 0;
  text-align: center;
  color: #fff;
  background-color: #000;
  position: relative;
  width: 100% !important;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.intro .parallax {
  background-color: rgba(0, 0, 0, 0.3);
  margin: 0;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

.intro .intro-body {
  display: table-cell;
  vertical-align: middle;
}
.intro .intro-body .brand-heading {
  font-size:32px;
}
.intro .intro-body .brand-heading-RP {
  font-size: 32px;
  font-family: 'Fira Sans', sans-serif;
  text-transform: none;
}
.intro .intro-body .intro-text {
  font-size: 18px;
  color: #cdcdcd;
}
.btn-circle {
  width: 70px;
  height: 70px;
  margin-top: 15px;
  padding: 7px 16px;
  border: 2px solid #ff0000;
  border-radius: 35px;
  font-size: 40px;
  color: #fff;
  background: 0 0;
  -webkit-transition: background .3s ease-in-out;
  -moz-transition: background .3s ease-in-out;
  transition: background .3s ease-in-out;
}
.btn-circle i.animated {
  -webkit-transition-property: -webkit-transform;
  -webkit-transition-duration: 1s;
  -moz-transition-property: -moz-transform;
  -moz-transition-duration: 1s;
}
.btn-circle:hover,
.btn-circle:focus {
  outline: 0;
  color: #0000ff;
  background: rgba(255, 255, 255, 0.1);
}
.btn-circle:hover i.animated,
.btn-circle:focus i.animated {
  -webkit-animation-name: pulse;
  -moz-animation-name: pulse;
  -webkit-animation-duration: 1.5s;
  -moz-animation-duration: 1.5s;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
}
@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@-moz-keyframes pulse {
  0% {
    -moz-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -moz-transform: scale(1.2);
    transform: scale(1.2);
  }
  100% {
    -moz-transform: scale(1);
    transform: scale(1);
  }
}
.content-section {
  padding-top: 60px;
}
.contact-section {
  width: 100%;
  padding: 0;
  color: #000;
  position: relative;
  width: 100% !important;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.contact-section .contact-section-body {
  padding-top: 0px;
}
#contact {
  background: url(../images/carbon.png);
}
#portfolio {
  background: url(../images/carbon.png);
}
#articles {
	background: url(../images/carbon.png);
}
#contact h1 {
  margin-bottom: 0;
}
#services {
  background-color: #333333;
}

#gallery {
  background-color: #333333; }

#about {
	background-color: #d3d3d3;}

.btn {
  text-transform: uppercase;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 400;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}
.btn-default:hover,
.btn-default:focus {
  outline: 0;
  color: #000;
  background-color: #ccc;
}
img::selection {
  background: 0 0;
}
img::-moz-selection {
  background: 0 0;
}
::-moz-selection {
  text-shadow: none;
  background: #fcfcfc;
  background: rgba(255, 255, 255, 0.2);
}
::selection {
  text-shadow: none;
  background: #fcfcfc;
  background: rgba(255, 255, 255, 0.2);
}
.black-alpha {
  /* Fallback for web browsers that don't support RGBa */
  background-color: black;
  /* RGBa with 0.6 opacity */
  background-color: rgba(0, 0, 0, 0.6);
  /* For IE 8*/
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
}
/* Custom colors */

.blue2 {
  color: #2980b9;
}
.yellow2 {
  color: #f39c12;
}
.carousel-inner .item {
  padding-top: 30px;
}
.carousel-inner .item img {
  width: 100%;
  height: 100%;
}
.item .thumbnail {
  margin-bottom: 0;
}
.carousel-control {
  background: #ddd;
  color: #999;
  padding: 4px 0;
  width: 26px;
  top: auto;
  left: auto;
  bottom: 0;
  opacity: 1;
  text-shadow: none;
}
.carousel-control .left,
.carousel-control .right {
  background-image: none !important;
}
.carousel-control .right {
  right: 10px;
}
.carousel-control .left {
  right: 40px;
}
#portfolio li, #gallery li {
  padding: 10px 7px;
}
#portfolio li img, #gallery li img {
  max-width: 256px;
  background: white;
}
/* Team info cards start */

.animate {
  -webkit-transition: all 0.7s ease-out;
  -moz-transition: all 0.7s ease-out;
  -o-transition: all 0.7s ease-out;
  -ms-transition: all 0.7s ease-out;
  transition: all 0.7s ease-out;
}
.info-card {
  width: 100%;
  border: 1px solid #d7d7d7;
  position: relative;
  background: #ffffff;
  font-family: 'Firo Sans', sans-serif;
  margin-bottom: 20px;
  overflow: hidden;
  padding: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3), 0 -3px 8px rgba(0, 0, 0, 0.2);
}
.info-card img {
  max-height: 300px;
  margin-bottom: 45px;
  max-width: 100%;
}
.info-card .info-card-details,
.info-card .info-card-details .info-card-header {
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: -100%;
  left: 0;
  padding: 0 10px;
  background: white;
  text-align: center;
}
.info-card .info-card-details .info-card-header {
  height: auto;
  bottom: 100%;
  padding: 10px 5px;
}
.info-card:hover .info-card-details {
  bottom: 0px;
  overflow: auto;
  padding-bottom: 25px;
}
.info-card:hover .info-card-details .info-card-header {
  position: relative;
  bottom: 0px;
  padding-top: 45px;
  padding-bottom: 25px;
}
.info-card:hover .info-card-details .info-card-header h3 {
  margin: 0 0 5px;
}
.info-card .info-card-details .info-card-detail .social {
  list-style: none;
  padding: 0px;
  margin-top: 25px;
  text-align: center;
}
.info-card .info-card-details .info-card-detail .social a {
  position: relative;
  display: inline-block;
  min-width: 40px;
  padding: 10px 0px;
  margin: 0px 5px;
  overflow: hidden;
  text-align: center;
  background-color: #d7d7d7;
  border-radius: 40px;
}
/* Team info cards ends */

/* Article info cards start */

.animate-article {
  -webkit-transition: all 0.7s ease-out;
  -moz-transition: all 0.7s ease-out;
  -o-transition: all 0.7s ease-out;
  -ms-transition: all 0.7s ease-out;
  transition: all 0.7s ease-out;
}
.article-card {
  width: 100%;
  border: 1px solid #d7d7d7;
  position: relative;
  background: #ffffff;
  font-family: 'Firo Sans', sans-serif;
  margin-bottom: 20px;
  overflow: hidden;
  padding: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3), 0 -3px 8px rgba(0, 0, 0, 0.2);
}
.article-card img {
  max-height: 300px;
  margin-bottom: 45px;
  max-width: 100%;
}
.article-card .article-card-details,
.article-card .article-card-details .article-card-header {
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: -100%;
  left: 0;
  padding: 0 10px;
  background: white;
  text-align: center;
}
.article-card .article-card-details .article-card-header {
  height: auto;
  bottom: 100%;
  padding: 10px 5px;
}
.article-card:hover .article-card-details {
  bottom: 0px;
  overflow: auto;
  padding-bottom: 25px;
}
.article-card:hover .article-card-details .article-card-header {
  position: relative;
  bottom: 0px;
  padding-top: 45px;
  padding-bottom: 25px;
}
.article-card:hover .article-card-details .article-card-header h3 {
  margin: 0 0 5px;
}
.article-card .article-card-details .article-card-detail .social {
  list-style: none;
  padding: 0px;
  margin-top: 25px;
  text-align: center;
}
.article-card .article-card-details .article-card-detail .social a {
  position: relative;
  display: inline-block;
  min-width: 40px;
  padding: 10px 0px;
  margin: 0px 5px;
  overflow: hidden;
  text-align: center;
  background-color: #d7d7d7;
  border-radius: 40px;
}
/* Team info cards ends */

.customers > li {
  padding: 25px;
}
.customers > li img {
  max-height: 90px;
}
.testimonials {
  background: url(../images/RPs.jpg) no-repeat bottom center fixed;
  background-size: cover !important;
  width: 100%;
  color: #fff;
  padding-bottom: 70px;
}
#testimonials {


}
#testimonials .carousel-inner {
  border-left: 4px solid white;
  background-color: rgba(255, 255, 255, 0.7)
}

.in-the-news {
  margin-top: 20px;
}
/* carousel */

#quote-carousel {
  padding: 0 10px 30px 10px;
  margin-top: 30px;
}
#quote-carousel .carousel-indicators {
  right: 50%;
  top: auto;
  bottom: 0px;
  margin-right: -19px;
}
#quote-carousel .carousel-indicators li {
  background: #c0c0c0;
}
#quote-carousel .carousel-indicators .active {
  background: #333333;
}
#quote-carousel .carousel-indicators img {
  width: 250px;
  height: 100px;
  border: 4px solid white;
}
.item blockquote {
  border-left: none;
  margin: 0;
}
.item blockquote img {
  margin-bottom: 10px;
}
.item blockquote p:before {
  content: "\f10d";
  font-family: 'Fontawesome';
  float: left;
  margin-right: 10px;
}
.item blockquote p:after {
  content: "\f10e";
  font-family: 'Fontawesome';
  float: right;
}
/* End carousel */

.form-control {
  border-bottom: 1px solid #B7B7B7;
  border-left: 0;
  border-right: 1px solid #B7B7B7;
  border-top: 0;
  border-radius: 0;
  font-size: 18px;
}
/* For underline and icons below section headers */

hr.star-light,
hr.star-primary {
  margin: 25px auto 30px;
  padding: 0;
  max-width: 250px;
  border: 0;
  border-top: solid 5px;
  text-align: center;
}
hr.star-light:after {
  display: inline-block;
  position: relative;
  top: -.8em;
  padding: 0 .25em;
  font-family: FontAwesome;
  font-size: 2em;
}
hr.star-light-about:after {
  border-color: #000;
  content: "\f10d";
  color: #E31717;
  background-color: #a7a7a7;
}
hr.star-light-services:after {
  border-color: #fff;
  content: "\f0ad";
  color: #7660A9;
  background: #FFF
}
hr.star-light-portfolio:after {
  border-color: #000;
  content: "\f00a";
  color: #B7A953;
  background-color: #eee;
}
hr.star-light-gallery:after {
  border-color: #fff;
  content: "\f00a";
  color: #B7A953;
  background-color: #fff;
}
hr.star-light-team:after {
  border-color: #000;
  content: "\f013";
  color: #5783FF;
  background: #333333;
}
hr.star-light-testimonial:after {
  border-color: #fff;
  content: "\f164";
  color: #FBFF45;
  background-color: #333333;
}
hr.star-light-articles:after {
  border-color: #000;
  content: "\f0f6";
  color: #dddddd;
  background-color: #333333;
}
hr.star-light-contact:after {
  border-color: #ff0;
  content: "\f003";
  color: #3100ff;
  background: #a7a7a7;
}
/* For underline and icons below section headers - End*/

#footer {
  background: #333333;
  color: white;
  padding-bottom: 30px;
}
#footer .btn {
  padding: 3px 10px;
}
.cover {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 1999;
  background: white;
}
.navbar-nav li a {
  font-weight: bold;
}
.about-team p {
  text-align: left;
  font-size: 16px;
}
.about-team-pic {
  margin-right: 15px;
  margin-bottom: 15px;
  float: left;
}
/**
  MEDIA QUERIES
*/

@media (min-width: 767px) {
  p {
    margin: 0 0 35px;
    font-size: 18px;
    line-height: 1.6;
  }
  .intro .rowintro .scullintro .seatintro .partsintro {
    height: 100%;
    padding: 0;
  }
  .intro .intro-body .brand-heading {
    font-size: 70px;
  }
  .intro .intro-body .brand-heading-RP {
    font-size: 70px;
    font-family: 'Fira Sans', sans-serif;
    text-transform: none;
  }
  .intro .intro-body .intro-text {
    font-size: 25px;
  }
  .content-section {
    padding-top: 80px;
  }
  .navbar {
    padding: 20px 0;
    border-bottom: 0;
    letter-spacing: 1px;
    background: 0 0;
    -webkit-transition: background .5s ease-in-out, padding .5s ease-in-out;
    -moz-transition: background .5s ease-in-out, padding .5s ease-in-out;
    transition: background .5s ease-in-out, padding .5s ease-in-out;
  }
  .top-nav-collapse {
    padding: 0;
    background-color: #fff;
    box-shadow: 0 0 15px -2px #000;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  }
  .top-nav-collapse a {
    color: #219ab3;
  }
  #quote-carousel {
    margin-bottom: 0;
    padding: 0 40px 30px 40px;
  }
}
@media (max-width: 768px) {
  /* Make the indicators larger for easier clicking with fingers/thumb on mobile */
  #quote-carousel .carousel-indicators {
    bottom: -20px !important;
  }
  #quote-carousel .carousel-indicators li {
    display: inline-block;
    margin: 0px 5px;
    width: 15px;
    height: 15px;
  }
  #quote-carousel .carousel-indicators li.active {
    margin: 0px 5px;
    width: 20px;
    height: 20px;
  }
}
.RP {
  text-transform: none;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 400;
  font-size: 14px;
}
.phone-number {
  margin-left: 20px;
}
.contact-info {
  font-size: 1.7em;
  color: #ddd;
}
.portfolio-item {
  padding: 0 25px 0 25px;
}
.portfolio-item img .gallery-item img {
  width: 150px;
  height: 150px;
}
.align-services {
  border: none;
  clear: both;
}
.croker-color {
  color: #fd437c;
}
